a {
    font-family: "Arial"
}

h1 {
    color: black;
    font-family: "Times New Roman";
}

h2 {
    color: black;
    font-size:19px;
}

h3 {
    color: purple;
}

h4 {
    font-size:18px;
}

.nextPage {
    font-size:15px;
    color:darkorchid;
}

#homeReturn:hover {
    background-color: #006400;
}

#homeReturn {
    color:grey;
    font-weight: bold;
    border-style: solid;
}

.largeText {
    color: black;
    font-family: "Times New Roman";
    font-size: 17px;
}

#sideNote {
    color: black;
    font-size: 15px;
    background-color: #fff8dc;
    width:max-content;
}

#plot.largeText {
    color:darkslategray;
}
